<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.great.stb">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.great.stb" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 指定硬件设备 -->
    <uses-configuration android:reqHardKeyboard="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"></supports-screens>

    <!-- 禁止触摸屏 -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <uses-library android:name="android.test.runner" />

        <meta-data android:value="57be5aad67e58e64d90006da" android:name="UMENG_APPKEY"/>
        <meta-data android:value="bgy" android:name="UMENG_CHANNEL"/>

        <activity
            android:name="com.great.stb.activity.SplashActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.TV" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.great.stb.activity.AccountInfoActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.LocalInfoActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.VideoActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.VideoPlayActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.LocalVideoActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.LocalAudioActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.Grallery3DActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.ActiveActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.MainActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.NOWIFIActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.OFFBOXActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.LocalImageActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.WatchPicActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.ImageWatchActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.preorder.PreorderActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.great.stb.activity.LoadErrorDigActicity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Panel"></activity>
        <activity
            android:name="com.great.stb.activity.AdvActivity"
            android:screenOrientation="landscape"></activity>

        <receiver android:name="com.great.stb.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.great.stb.receiver.StallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.great.stb.service.AppService"></service>
    </application>


</manifest>
